/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #a4c8e1;
    color: white;
    overflow: hidden;
}

.main-content {
    display: none; /* Hidden until the bootup sequence finishes */
    justify-content: space-between; /* Spreads content across the available space */
    align-items: center; /* Vertically centers the content */
    padding: 20px;
    text-align: center;
    height: 100vh; /* Full viewport height */
}

.bootup-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a4c8e1;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.logo-container img {
    width: 200px;
    height: auto;
}

.logo-container2 img {
    width: 200px;
    height: auto;
    justify-content: center;
    display: flex;
}

.initializing {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.progress-bar {
    margin-top: 30px;
    width: 200px;
    height: 10px;
    background-color: #5d3a91;
    border-radius: 0px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    animation: loadProgress 3s forwards;
}

@keyframes loadProgress {
    0% { width: 0; }
    100% { width: 100%; }
}

/* Diagonal lines */
.diagonal-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #4CAF50;
}

.top-left {
    top: 0;
    left: 0;
    transform: rotate(45deg);
    animation: drawLine 3s forwards;
}

.top-right {
    top: 0;
    right: 0;
    transform: rotate(-45deg);
    animation: drawLine 3s forwards;
}

.bottom-left {
    bottom: 0;
    left: 0;
    transform: rotate(-45deg);
    animation: drawLine 3s forwards;
}

.bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(45deg);
    animation: drawLine 3s forwards;
}

@keyframes drawLine {
    0% { height: 0; }
    100% { height: 100%; }
}

h1 {
    color: #4CAF50;
    font-size: 50pt;
}

ul {
    list-style: none;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

a:visited {
    color: #4CAF50;
}

a:hover {
    color: #5d3a91;
}

.heading {
    flex: 1; /* Takes up remaining space on the left */
    text-align: right; /* Align the text to the right so it's closer to the image */
}

.logo-container2 {
    flex: 0; /* Only take as much space as the image needs */
}

.nav-wrapper {
    flex: 1; /* Takes up remaining space on the right */
    text-align: left; /* Align the text to the left so it's closer to the image */
}