* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #0b041a;
    color: white;
    overflow: hidden;
}

.main-content {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.bootup-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0b041a;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.logo-container img, .logo-container2 img {
    width: 200px;
    height: auto;
}

.logo-container2 {
    display: flex;
    justify-content: center;
}

.initializing {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.progress-bar {
    margin-top: 30px;
    width: 200px;
    height: 10px;
    background-color: #5d3a91;
    border-radius: 0px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    animation: loadProgress 3s forwards;
}

@keyframes loadProgress {
    0% { width: 0; }
    100% { width: 100%; }
}

.diagonal-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #4CAF50;
    animation: drawLine 3s forwards;
}

.top-left { top: 0; left: 0; transform: rotate(45deg); }
.top-right { top: 0; right: 0; transform: rotate(-45deg); }
.bottom-left { bottom: 0; left: 0; transform: rotate(-45deg); }
.bottom-right { bottom: 0; right: 0; transform: rotate(45deg); }

@keyframes drawLine {
    0% { height: 0; }
    100% { height: 100%; }
}

h1 {
    color: #6b8f23;
    font-size: 50pt;
}

ul {
    list-style: none;
}

li {
    padding: 10px 0;
    font-size: large;
    font-weight: bold;
}

a:visited { color: #d3d3d3; }
a:hover { color: #4CAF50; }

.heading {
    flex: 1;
    text-align: right;
}

.logo-container2 {
    flex: 0;
}

.nav-wrapper {
    flex: 1;
    text-align: left;
}

p {
    color: #d3d3d3;
    font-weight: bold;
    padding-bottom: 10px;
}

.navbar {
    background-color: #333;
    padding: 20px;
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-item {
    position: relative;
    margin-bottom: 20px;
}

.nav-item:hover > .sub-menu::before {
    transform: scaleX(1);
}

.sub-menu::before {
    content: '';
    position: absolute;
    top: 50px; /* Adjust based on your layout */
    left: 0;
    width: 20px; /* Width of the horizontal line */
    height: 3px; /* Thickness of the line */
    background-color: #4CAF50; /* Color of the line */
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.sub-menu li:nth-child(3)::before {
    display: none;
}

.nav-item:hover .sub-menu li:nth-child(1)::before { transition-delay: 0.1s; }
.nav-item:hover .sub-menu li:nth-child(2)::before { transition-delay: 0.2s; }

.sub-menu li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px; /* Should match the width of the horizontal line */
    width: 2px; /* Thickness of the vertical line */
    height: 0;
    background-color: #4CAF50; /* Color of the line */
    transform-origin: top center;
    transition: height 0.3s ease;
}

.nav-item:hover .sub-menu li::before {
    height: 100%;
}

.nav-item:hover .sub-menu li {
    opacity: 1;
}

.nav-item > a {
    color: #a4c8e1;
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: #0b041a;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-item > a:hover {
    background-color: #1e0b3d;
}

.sub-menu {
    position: absolute;
    top: -20px; /* Extend upwards */
    left: 100%;
    list-style: none;
    padding: 20px 0 20px 20px; /* Add padding to create larger hit area */
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    pointer-events: none; /* Initially disable pointer events */
}

.nav-item:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* Enable pointer events on hover */
}

.nav-item:hover > .sub-menu,
.sub-menu.persist {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    pointer-events: auto;
}

.sub-menu li {
    position: absolute;
    transform-origin: 0% 0%;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.sub-menu li:nth-child(1) { transform: rotate(-60deg) translate(50px); }
.sub-menu li:nth-child(2) { transform: rotate(0deg) translate(50px); }
.sub-menu li:nth-child(3) { transform: rotate(60deg) translate(50px); }

.nav-item:hover .sub-menu li {
    opacity: 1;
}

.nav-item:hover .sub-menu li:nth-child(1) { transform: rotate(-30deg) translate(100px); }
.nav-item:hover .sub-menu li:nth-child(2) { transform: rotate(0deg) translate(100px); }
.nav-item:hover .sub-menu li:nth-child(3) { transform: rotate(30deg) translate(100px); }

.sub-menu li a {
    color: #a4c8e1;
    text-decoration: none;
    background-color: #0b041a;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.sub-menu li a:hover {
    background-color: #888;
}

/* Add this to create a hover area */
.nav-item::after {
    content: '';
    position: absolute;
    top: -20px; /* Match sub-menu top value */
    left: 100%;
    width: 200px; /* Adjust as needed */
    height: calc(100% + 40px); /* Extend beyond the nav item */
    background-color: transparent;
    display: none;
}

.nav-item:hover::after {
    display: block;
}

/*Styling for mobile */

@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    .heading {
        text-align: center;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 36pt;
    }

    .logo-container2 {
        margin: 20px 0;
    }

    .nav-wrapper {
        width: 100%;
    }

    .nav-menu {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .nav-item {
        margin-bottom: 0;
    }

    .nav-item > a {
        padding: 5px;
        font-size: 14px;
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
        box-sizing: border-box;
    }

    .sub-menu li {
        position: static;
        opacity: 1;
        transform: none !important;
    }

    .nav-item:hover .sub-menu li {
        transform: none !important;
    }

    .sub-menu li a {
        padding: 5px;
        font-size: 12px;
    }

    /* Remove the hover area for mobile */
    .nav-item::after {
        display: none;
    }
}

/* Adjust bootup screen for mobile */
@media screen and (max-width: 768px) {
    .bootup-screen {
        padding: 20px;
    }

    .logo-container img, .logo-container2 img {
        width: 150px;
    }

    .progress-bar {
        width: 80%;
        max-width: 200px;
    }

    .diagonal-line {
        display: none;
    }
}